.footer-18 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 89px;
  height: 1008px;
  position: relative;
  width: 1022px;
}

.footer-menu-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 49px;
  min-height: 324px;
  width: 822px;
}

.cec-logo-5 {
  height: 120px;
  object-fit: cover;
  width: 120px;
}

.links-1 {
  display: flex;
  height: 24px;
  margin-left: 8.0px;
  margin-top: 71px;
  width: 830px;
}

.hire-me-19 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  text-align: center;
  width: 127px;
}

.github-8 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 31px;
  margin-top: 1px;
  text-align: center;
  width: 121px;
}

.open-source-12 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 28px;
  text-align: center;
  width: 229px;
}

.organizations-8 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 30px;
  margin-top: 1px;
  text-align: center;
  width: 256px;
}

.button-container {
  align-items: flex-start;
  display: flex;
  gap: 75px;
  height: 60px;
  margin-left: 0.85px;
  margin-top: 49px;
  min-width: 505px;
  position: relative;
}

.image-8-5 {
  height: 225px;
  margin-left: 191px;
  object-fit: cover;
  width: 640px;
}

