.blockify {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  min-height: 5592px;
  min-width: 1512px;
  width: 100%;
}

.blockify-1 {
  display: flex;
  height: 5592px;
  min-width: 1512px;
}

.body-31 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5592px;
  position: relative;
  width: 1512px;
}

.hero-27 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  gap: 201px;
  width: 1512px;
}

.flex-col-22 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 105.0px;
  margin-left: 94px;
  min-height: 309px;
  width: 570px;
}

.blockify-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  min-height: 94px;
}

.this-web-30-applica-9 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 25px;
  width: 570px;
}

.flex-row-108 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  margin-left: 3px;
  margin-top: 29px;
  min-width: 554px;
  position: relative;
}

.overlap-group-104 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 16px;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 257px;
  padding: 0 25px;
}

.contribute-9 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 206px;
}

.logo-blockify-2 {
  height: 982px;
  object-fit: cover;
  width: 647px;
}

.team-9 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 982px;
  position: relative;
}

.become-a-contributor-9 {
  height: 117px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 253px;
  margin-top: 105px;
  width: 1006px;
}

.span1-16 {
  color: var(--purple-heart);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}

.live-developing-9 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 66px;
  height: 982px;
  padding: 40px 0;
  position: relative;
}

.flex-row-109 {
  align-items: flex-start;
  display: flex;
  gap: 100px;
  min-width: 614px;
  position: relative;
}

.overlap-group-105 {
  align-items: center;
  background-color: var(--purple-heart);
  border-radius: 16px;
  display: flex;
  height: 68px;
  min-width: 257px;
  padding: 0 26px;
}

.learn-how-9 {
  height: 38px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 194px;
  text-align: center;
}

