.frame-12 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 16px;
  justify-content: center;
  width: fit-content;
}

.group-2 {
  height: 24px;
  min-width: 24px;
}

.place-45 {
  letter-spacing: 0;
  line-height: normal;
  width: fit-content;
}

.frame-12.frame-23 {
  justify-content: unset;
}

