/* ============================ Tablet Breakpoint ============================ */
/* @media screen (max-width: 600px ) {
    .navbar {
        display: none;
    }
    .text {
        display: none;
    }
} */
/* ============================ Phone Breakpoint ============================ */
/* @media screen and (max-width: 300px) {
   .navbar {
        display: none;
    }
   .text {
        display: none;
    }
} */
