.blockchain-4 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  height: 610px;
  min-width: 1512px;
  position: relative;
}

.blockchain-4.blockchain-3 {
  margin-top: 2px;
  min-width: unset;
  width: 1512px;
}

