.financer {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 100vh;
  min-height: 4674px;
  min-width: 1512px;
  width: 100%;
}

.body-34 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 4674px;
  min-width: 1512px;
}

.flex-col-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 4674px;
  position: relative;
  width: 1512px;
}

.navbar-26 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  height: 90px;
  padding: 0 23px;
  position: relative;
  width: 1512px;
}

.dashboard-layout-25 {
  height: 60px;
  width: 60px;
}

.hire-me-60 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  margin-left: 539px;
  min-height: 23px;
  min-width: 81px;
  text-align: center;
}

.github-47 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  margin-left: 19px;
  min-height: 23px;
  min-width: 77px;
  text-align: center;
}

.open-source-59 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 19px;
  min-height: 23px;
  min-width: 145px;
  text-align: center;
}

.organizations-49 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.0px;
  margin-left: 19px;
  min-height: 23px;
  min-width: 163px;
  text-align: center;
}

.hero-30 {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  height: 879px;
  padding: 0 79px;
  width: 1512px;
}

.overlap-group5-17 {
  height: 706px;
  position: relative;
  width: 1339px;
}

.componentlottiehttps-4 {
  height: 706px;
  left: 530px;
  position: absolute;
  top: 0;
  width: 809px;
}

.consultations {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  height: 982px;
  width: 1512px;
}

.collaborate-container {
  height: 833px;
  margin-left: 31px;
  position: relative;
  width: 1481px;
}

.collaborate-img-1 {
  height: 833px;
  left: 561px;
  position: absolute;
  top: 0;
  width: 920px;
}

.collaborate-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 0;
  min-height: 480px;
  position: absolute;
  top: 145px;
  width: 781px;
}

.lets-discuss-your-portfolio {
  height: 378px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  text-align: center;
  width: 779px;
}

.appointments {
  align-items: center;
  display: flex;
  min-width: 457px;
}

.planner,
.bot {
  height: 96px;
  width: 96px;
}

.book-an-appointment {
  height: 51px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  text-align: center;
  width: 359px;
}

.bots {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  height: 1048px;
  padding: 131px 156px;
  width: 1512px;
}

.overlap-group3-14 {
  align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 720px;
  min-width: 1200px;
  padding: 0 552px;
}

.management-steps {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1083px;
  padding: 92px 61px;
  position: relative;
  width: 1512px;
}

.decentralized-finances {
  height: 117px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  min-width: 1081px;
  text-align: center;
}

.building-a-investmen {
  height: 104px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  text-align: center;
  width: 1269px;
}

.span-21 {
  text-decoration: underline;
}

