.financer {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 100vh;
  min-height: 4674px;
  min-width: 1512px;
  width: 100%;
}

