/*
This is the main style sheet for the cleanfolio. Alternate sheets will be in the css folder.
All of this will be moved over to scss soon.
*/

/* ======== Global Styles ========*/

.button {
    border: 0;
    padding: 10px;
    font-size: 20px;
    background-color: #a82c2c;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
    /*TODO: Change the gradient*/
    box-shadow: 0px 100px 80px rgba(125, 190, 227, 0.0196802),
        0px 41.7776px 33.4221px rgba(125, 190, 227, 0.0282725),
        0px 22.3363px 17.869px rgba(125, 190, 227, 0.035),
        0px 12.5216px 10.0172px rgba(125, 190, 227, 0.0417275),
        0px 6.6501px 5.32008px rgba(125, 190, 227, 0.0503198),
        0px 2.76726px 2.21381px rgba(125, 190, 227, 0.07);
}

.button:hover {
    /*TODO: Change the color*/
    background-color: #a82c2c;
    cursor: pointer;
}

.button:active {
    /*TODO: Change the color*/
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}