/*
This will style the organizations page which relates to the other pages.
FIXME: This sheet should be merged with the main.css sheet.
*/
body {
    justify-content: center;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.button {
    display: column;
    justify-content: center;
    align-items: center;
}
/* Join A DAO Section */
.section-dao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.container-dao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

/* Dapps Sections */
.section-dapps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.dapps-div {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #333;
    text-align: center;
}


