.group-23 {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 18px;
  min-width: 309px;
}

.number-2 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 28px;
}

.line-1-13 {
  height: 1px;
  margin-bottom: 4.0px;
  width: 263px;
}

.group-23.group-24 {
  margin-left: 1px;
}

.group-23.group-25 {
  margin-left: 2px;
}

