.hero-info-10 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 66px;
  min-height: 429px;
  position: absolute;
  top: 0;
  width: 299px;
}

.name-26 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -43px;
  min-height: 204px;
  width: 299px;
}

.an-e-commerce-and-fu-7 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 18px;
  min-height: 68px;
  width: 299px;
}

