.hero,
.hero-1 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 963px;
  min-width: 1512px;
}

.hero-i-container,
.hero-i-container-1 {
  height: 804px;
  left: 79px;
  position: relative;
  top: 77px;
  width: 1433px;
}

.hero-image,
.hero-image-1 {
  height: 804px;
  left: 214px;
  position: absolute;
  top: 0;
  width: 1219px;
}

