.footer-20 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1221px;
  width: 428px;
}

.footer-menu-9 {
  background-position: 50% 50%;
  background-size: cover;
  height: 120px;
  margin-left: 153px;
  margin-top: 63px;
  width: 120px;
}

.links-6 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 452px;
  justify-content: center;
  margin-left: 85px;
  margin-top: 63px;
  position: relative;
  width: 256px;
}

.hire-me-26 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  text-align: center;
  width: 127px;
}

.github-13 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 121px;
}

.open-source-17 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 229px;
}

.organizations-13 {
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 256px;
}

.snippets-11 {
  align-items: flex-start;
  display: flex;
  height: 227px;
  margin-left: 21px;
  margin-top: 82px;
  min-width: 382px;
}

.overlap-group-40 {
  align-items: center;
  background-color: var(--seagull);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  min-height: 227px;
  padding: 26px 12px;
  width: 378px;
}

.snippet-of-the-day-12 {
  height: 53px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 344px;
}

.subscribe-to-get-access-12 {
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 19.0px;
  margin-top: 27px;
  text-align: center;
  width: 325px;
}

.flex-row-20 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 54px;
  margin-top: 13px;
  min-width: 349px;
}

.rectangle-6-7 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 54px;
  width: 202px;
}

.rectangle-7-8 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 53px;
  width: 93px;
}

.image-8-7 {
  height: 148px;
  margin-left: 25px;
  margin-top: 24px;
  object-fit: cover;
  width: 378px;
}

