.hero-15-1 {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  padding: 0 79px;
  width: 1512px;
}

.overlap-group5-15 {
  height: 963px;
  position: relative;
  width: 1287px;
}

.frame-17 {
  height: 963px;
  left: 216px;
  position: absolute;
  top: 0;
  width: 1071px;
}

.hero-15-1.hero-15 .overlap-group5-15 {
  width: 1289px;
}

.hero-15-1.hero-15 .frame-17 {
  width: 1073px;
}

