.blockchain-6,
.blockchain-6.blockchain-5 {
  display: flex;
  flex-direction: column;
  height: 442px;
  margin-left: 451px;
  margin-top: 81px;
  position: relative;
  width: 609px;
}

.tradent-logo5-transparent-2-1 {
  height: 120px;
  margin-left: 244px;
  object-fit: cover;
  width: 120px;
}

.blockchains-tech-1 {
  display: flex;
  gap: 52.5px;
  height: 45px;
  margin-left: 100px;
  margin-top: 29px;
  position: relative;
  width: 409px;
}

.blockchain-6.blockchain-7 {
  margin-left: 207px;
  margin-top: 71px;
}

.blockchain-6.blockchain-8,
.blockchain-6.blockchain-10 {
  margin-left: 416px;
  margin-top: 84px;
}

.blockchain-6.blockchain-9 {
  margin-left: 80px;
  margin-top: 84px;
}

