.bitcellular-17 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 53px;
  height: 100vh;
  min-height: 5592px;
  min-width: 1512px;
  width: 100%;
}

.bitcellular-18 {
  display: flex;
  height: 5592px;
  min-width: 1512px;
}

.body-23 {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 5592px;
  position: relative;
  width: 1512px;
}

.hero-19 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  gap: 222px;
  margin-top: 3px;
  width: 1512px;
}

.flex-col-14 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 138.0px;
  margin-left: 94px;
  min-height: 370px;
  width: 570px;
}

.bitcellular-19 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3px;
  min-height: 117px;
}

.this-web-30-applica-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 49px;
  width: 570px;
}

.flex-row-87 {
  align-items: flex-start;
  display: flex;
  gap: 32px;
  margin-left: 3px;
  margin-top: 43px;
  min-width: 546px;
  position: relative;
}

.overlap-group-84 {
  align-items: center;
  background-color: var(--mandy);
  border-radius: 16px;
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 257px;
  padding: 0 25px;
}

.contribute-1 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 38px;
  min-width: 206px;
}

.logo-bitcell-2 {
  height: 982px;
  object-fit: cover;
  width: 626px;
}

.team-1 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 61px;
  height: 982px;
  width: 1512px;
}

.become-a-contributor-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 104px;
  min-height: 117px;
  min-width: 1006px;
}

.span1-8 {
  color: var(--mandy);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}

.overlap-group1-32 {
  height: 700px;
  position: relative;
  width: 1512px;
}

.avatars-9 {
  align-items: flex-start;
  display: flex;
  height: 550px;
  left: 25px;
  min-width: 1459px;
  position: absolute;
  top: 0;
}

.user_-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-left: 31px;
  min-height: 421px;
  position: relative;
  width: 304px;
}

.vector-10 {
  height: 500px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 1512px;
}

.overlap-group4-10 {
  height: 1571px;
  position: relative;
  width: 1512px;
}

.footer-38 {
  align-items: flex-end;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 592px;
  left: 0;
  padding: 47px 27.1px;
  position: absolute;
  top: 979px;
  width: 1512px;
}

.flex-row-88 {
  align-items: flex-end;
  display: flex;
  gap: 80px;
  margin-right: 7.85px;
  min-width: 1383px;
}

.image-8-25 {
  height: 225px;
  object-fit: cover;
  width: 640px;
}

.overlap-group-85 {
  align-items: flex-start;
  background-color: var(--mandy);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 164px;
  padding: 19px 14px;
  width: 663px;
}

.snippet-of-the-day-33 {
  align-self: center;
  height: 51px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.54px;
  text-align: center;
  width: 367px;
}

.flex-row-89 {
  align-items: flex-end;
  display: flex;
  gap: 18px;
  min-width: 620px;
}

.subscribe-to-get-access-33 {
  align-self: flex-start;
  height: 49px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 167px;
}

.rectangle-6-24 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  width: 316px;
}

.rectangle-7-25 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  width: 101px;
}

.live-developing-1 {
  align-items: center;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 66px;
  height: 982px;
  left: 0;
  padding: 40px 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.flex-row-90 {
  align-items: flex-start;
  display: flex;
  gap: 100px;
  min-width: 614px;
  position: relative;
}

.overlap-group-86 {
  align-items: center;
  background-color: var(--mandy);
  border-radius: 16px;
  display: flex;
  height: 68px;
  min-width: 257px;
  padding: 0 26px;
}

.learn-how-1 {
  height: 38px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 194px;
  text-align: center;
}

