/* screen - hire-me */

.hire-me {
  background-color: #7981e5;
  border: 1px none;
  height: 7457px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1512px;
}

.hire-me .body-9RX18u {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 7457px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 1512px;
}

.hire-me .footer-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 592px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 6865px;
  width: 1512px;
}

.hire-me .footer-menu-IrIRmN {
  background-color: transparent;
  height: 233px;
  left: 74px;
  position: absolute;
  top: 47px;
  width: 1411px;
}

.hire-me .button-7fUDwJ {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 1188px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.hire-me .rectangle-2-q8bVxL {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-q8bVxL {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .span5e7bz-DuLyeg {
}

.hire-me .button-HpCoqS {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 898px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.hire-me .rectangle-2-KYZIVF {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-KYZIVF {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .spann63cw-g39Od4 {
}

.hire-me .organizations-7fUDwJ {
  background-color: transparent;
  height: auto;
  left: 566px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 256px;
}

.hire-me .spanlnhv7-DeJ9Bu {
}

.hire-me .open-source-7fUDwJ {
  background-color: transparent;
  height: auto;
  left: 307px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  width: 229px;
}

.hire-me .spanh5k6vg-aCxE9e {
}

.hire-me .github-7fUDwJ {
  background-color: transparent;
  height: auto;
  left: 158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 121px;
}

.hire-me .spannkvom-ACuP1I {
}

.hire-me .hire-me-7fUDwJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 127px;
}

.hire-me .spanl07xd-24BIPP {
}

.hire-me .cec-logo-7fUDwJ {
  background-color: transparent;
  height: 120px;
  left: 622px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

.hire-me .snippets-IrIRmN {
  background-color: transparent;
  border-radius: 16px;
  height: 164px;
  left: 814px;
  position: absolute;
  top: 374px;
  width: 667px;
}

.hire-me .snippets-HsQcjv {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 164px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 663px;
}

.hire-me .rectangle-6-HsQcjv {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 316px;
}

.hire-me .rectangle-7-HsQcjv {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 533px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 101px;
}

.hire-me .subscribe-to-get-access-HsQcjv {
  background-color: transparent;
  height: 49px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 167px;
}

.hire-me .spanpdx7y-4Pu9Kf {
}

.hire-me .snippet-of-the-day-HsQcjv {
  background-color: transparent;
  height: 51px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 367px;
}

.hire-me .span5pthh-AdCpM2 {
}

.hire-me .image-8-IrIRmN {
  background-color: transparent;
  height: 225px;
  left: 74px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 640px;
}

.hire-me .e-commerce-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 5px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 5883px;
  width: 1507px;
}

.hire-me .database-zNwfGQ {
  background-color: transparent;
  height: 618px;
  left: 1035px;
  position: absolute;
  top: 326px;
  width: 379px;
}

.hire-me .database-XMAsOl {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 618px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 377px;
}

.hire-me .button-XMAsOl {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 527px;
  width: 215px;
}

.hire-me .rectangle-2-E9f74P {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-E9f74P {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .span9fs13-11e4o1 {
}

.hire-me .choose-your-framework-XMAsOl {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: auto;
}

.hire-me .span5y4am-Zxa6eX {
}

.hire-me .back-end-zNwfGQ {
  background-color: transparent;
  height: 618px;
  left: 565px;
  position: absolute;
  top: 326px;
  width: 379px;
}

.hire-me .price-table-r2mAno {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 618px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 377px;
}

.hire-me .button-r2mAno {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 527px;
  width: 215px;
}

.hire-me .rectangle-2-WvD30l {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-WvD30l {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .spanzezuvf-jNobx9 {
}

.hire-me .choose-your-framework-r2mAno {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: auto;
}

.hire-me .spanlds4r-YyX0Nx {
}

.hire-me .front-end-zNwfGQ {
  background-color: transparent;
  height: 618px;
  left: 95px;
  position: absolute;
  top: 326px;
  width: 379px;
}

.hire-me .price-table-1AxvFh {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 618px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 377px;
}

.hire-me .button-1AxvFh {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 76px;
  position: absolute;
  top: 527px;
  width: 215px;
}

.hire-me .rectangle-2-oxterQ {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-oxterQ {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .spankk524-hcnYv6 {
}

.hire-me .choose-your-framework-1AxvFh {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 31px;
  width: auto;
}

.hire-me .spanyovs3-D9Hm2F {
}

.hire-me .build-your-dapp-zNwfGQ {
  background-color: transparent;
  height: auto;
  left: 516px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 95px;
  width: auto;
}

.hire-me .spanbzvw1-2LuFH4 {
}

.hire-me .there-are-a-few-diff-zNwfGQ {
  background-color: transparent;
  height: auto;
  left: 197px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 188px;
  width: auto;
}

.hire-me .span0-L1cHhs {
}

.hire-me .span1-L1cHhs {
  color: var(--seagull);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hire-me .spanwrqkh-L1cHhs {
}

.hire-me .projects-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4901px;
  width: 1512px;
}

.hire-me .pm-projects-50qtoR {
  background-color: transparent;
  border-radius: 16px;
  height: 856px;
  left: 208px;
  position: absolute;
  top: 76px;
  width: 1095px;
}

.hire-me .pm-projects-kx5r9N {
  background-color: var(--seagull-2);
  border: 1px none;
  border-radius: 16px;
  height: 856px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1095px;
}

.hire-me .table-external-links-kx5r9N {
  background-color: transparent;
  height: 347px;
  left: 36px;
  position: absolute;
  top: 262px;
  width: 1024px;
}

.hire-me .upcoming-work-nHc6Ty {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: 267px;
  width: 1026px;
}

.hire-me .row-1-CirA2q {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 49px;
  width: 1028px;
}

.hire-me .built-a-crm-pipeline-NBK0RX {
  background-color: transparent;
  height: 31px;
  left: 470px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 554px;
}

.hire-me .span3sq0l-yy8kx8 {
}

.hire-me .httpsgithubcomelicharlesemonday-crm-NBK0RX {
  background-color: transparent;
  height: 31px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 470px;
}

.hire-me .spansumxs-xnwZQd {
}

.hire-me .upcoming-CirA2q {
  background-color: transparent;
  height: 26px;
  left: 446px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 131px;
}

.hire-me .spanjv0avg-7lDoZn {
}

.hire-me .previous-work-nHc6Ty {
  background-color: transparent;
  height: 228px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1026px;
}

.hire-me .row-4-xlffSI {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 472px;
}

.hire-me .httpsgithubcomelicharlesemonday-crm-xnjbnF {
  background-color: transparent;
  height: 31px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 470px;
}

.hire-me .spandqpru-JHXd9o {
}

.hire-me .row-3-xlffSI {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 150px;
  width: 472px;
}

.hire-me .httpsgithubcomelicharlesemonday-crm-lSMYuk {
  background-color: transparent;
  height: 31px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 470px;
}

.hire-me .span4zubx-6JKgEY {
}

.hire-me .row-2-xlffSI {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 103px;
  width: 472px;
}

.hire-me .httpsgithubcomelicharlesemonday-crm-TP4KMv {
  background-color: transparent;
  height: 31px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 470px;
}

.hire-me .spandsmcgg-xeYlt7 {
}

.hire-me .row-1-xlffSI {
  background-color: transparent;
  height: 31px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 1028px;
}

.hire-me .built-a-crm-pipeline-nhl8y9 {
  background-color: transparent;
  height: 31px;
  left: 470px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 554px;
}

.hire-me .span021he-JiMusT {
}

.hire-me .httpsgithubcomelicharlesemonday-crm-nhl8y9 {
  background-color: transparent;
  height: 31px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 470px;
}

.hire-me .spanvv6cb-0PpJsu {
}

.hire-me .previous-xlffSI {
  background-color: transparent;
  height: 26px;
  left: 446px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 131px;
}

.hire-me .spanlfsks-XJWZJN {
}

.hire-me .info-text-kx5r9N {
  background-color: transparent;
  height: 140px;
  left: 146px;
  position: absolute;
  top: 68px;
  width: 808px;
}

.hire-me .i-have-experience-st-4kLhuG {
  background-color: transparent;
  height: 83px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 56px;
  width: 786px;
}

.hire-me .spanfov2p-6wTv96 {
}

.hire-me .project-management-4kLhuG {
  background-color: transparent;
  height: 57px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 804px;
}

.hire-me .spanhwzjh-sCAasF {
}

.hire-me .right-scroll-50qtoR {
  background-color: transparent;
  height: 60px;
  left: 1370px;
  position: absolute;
  top: 461px;
  width: 60px;
}

.hire-me .ellipse-11-Wk7uq0 {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 30px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}

.hire-me .chevron-right-Wk7uq0 {
  background-color: transparent;
  height: 35px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 38px;
}

.hire-me .left-scroll-50qtoR {
  background-color: transparent;
  height: 60px;
  left: 52px;
  position: absolute;
  top: 461px;
  width: 60px;
}

.hire-me .ellipse-12-69KPZ4 {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 30px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 60px;
}

.hire-me .chevron-left-69KPZ4 {
  background-color: transparent;
  height: 35px;
  left: 11px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 38px;
}

.hire-me .skills-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4018px;
  width: 1512px;
}

.hire-me .github-repos-6ela6S {
  background-color: transparent;
  border: 1px none;
  height: 541px;
  left: 5px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 253px;
  width: 1507px;
}

.hire-me .languages-chart-xpGLPF {
  background-color: transparent;
  height: 533px;
  left: 652px;
  position: relative;
  top: 0px;
  width: 600px;
}

.hire-me .group-PsDYgK {
  background-color: transparent;
  height: 130px;
  left: 304px;
  position: absolute;
  top: 149px;
  width: 203px;
}

.hire-me .group-TAxLx1 {
  background-color: transparent;
  height: 191px;
  left: 304px;
  position: absolute;
  top: 87px;
  width: 156px;
}

.hire-me .group-kG7Il6 {
  background-color: transparent;
  height: 203px;
  left: 165px;
  position: absolute;
  top: 76px;
  width: 205px;
}

.hire-me .group-Ms5PKI {
  background-color: transparent;
  height: 170px;
  left: 101px;
  position: absolute;
  top: 130px;
  width: 203px;
}

.hire-me .group-IQ0jaO {
  background-color: transparent;
  height: 78px;
  left: 102px;
  position: absolute;
  top: 278px;
  width: 201px;
}

.hire-me .group-Ivnn9C {
  background-color: transparent;
  height: 145px;
  left: 117px;
  position: absolute;
  top: 278px;
  width: 187px;
}

.hire-me .group-2izDg2 {
  background-color: transparent;
  height: 203px;
  left: 162px;
  position: absolute;
  top: 278px;
  width: 207px;
}

.hire-me .group-eUQj8a {
  background-color: transparent;
  height: 192px;
  left: 304px;
  position: absolute;
  top: 278px;
  width: 158px;
}

.hire-me .group-LUrxeN {
  background-color: transparent;
  height: 127px;
  left: 304px;
  position: absolute;
  top: 278px;
  width: 203px;
}

.hire-me .group-jYu4pP {
  background-color: transparent;
  height: 1px;
  left: 304px;
  position: absolute;
  top: 278px;
  width: 203px;
}

.hire-me .group-V6VU1p {
  background-color: transparent;
  height: 533px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 600px;
}

.hire-me .group-meGBSg {
  background-color: transparent;
  height: 48px;
  left: 494px;
  position: absolute;
  top: 162px;
  width: 108px;
}

.hire-me .vector-tIdIYl {
  background-color: transparent;
  height: 17px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 48px;
}

.hire-me .x629-tIdIYl {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 58px;
}

.hire-me .spansd1l5-tfiOFN {
}

.hire-me .group-7x4YxC {
  background-color: transparent;
  height: 72px;
  left: 419px;
  position: absolute;
  top: 40px;
  width: 89px;
}

.hire-me .vector-prIdgi {
  background-color: transparent;
  height: 42px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 29px;
}

.hire-me .x490-prIdgi {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 58px;
}

.hire-me .spanb7c1l-axSwF6 {
}

.hire-me .group-011YFk {
  background-color: transparent;
  height: 80px;
  left: 193px;
  position: absolute;
  top: 0px;
  width: 71px;
}

.hire-me .vector-RL5jnt {
  background-color: transparent;
  height: 50px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 10px;
}

.hire-me .x985-RL5jnt {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: -1px;
  width: 58px;
}

.hire-me .spanhbwq2-hQUJdw {
}

.hire-me .group-dZ6pWx {
  background-color: transparent;
  height: 48px;
  left: 8px;
  position: absolute;
  top: 160px;
  width: 108px;
}

.hire-me .vector-scKcZI {
  background-color: transparent;
  height: 18px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 47px;
}

.hire-me .x840-scKcZI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: -1px;
  width: 58px;
}

.hire-me .span19zyg-RVkxT1 {
}

.hire-me .group-y95eHg {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 311px;
  width: 109px;
}

.hire-me .vector-Qw3iQL {
  background-color: transparent;
  height: 13px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 49px;
}

.hire-me .x262-Qw3iQL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: -1px;
  width: 58px;
}

.hire-me .spanus8ay-pEhX3r {
}

.hire-me .group-kdPUnc {
  background-color: transparent;
  height: 38px;
  left: 36px;
  position: absolute;
  top: 390px;
  width: 102px;
}

.hire-me .vector-wPlMOI {
  background-color: transparent;
  height: 29px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2px;
  width: 42px;
}

.hire-me .x365-wPlMOI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: -1px;
  width: 58px;
}

.hire-me .spanycifui-rxUom0 {
}

.hire-me .group-LjznDR {
  background-color: transparent;
  height: 57px;
  left: 190px;
  position: absolute;
  top: 476px;
  width: 71px;
}

.hire-me .vector-3BJRs8 {
  background-color: transparent;
  height: 49px;
  left: 58px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 11px;
}

.hire-me .x998-3BJRs8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 18px;
  width: 58px;
}

.hire-me .spanasj2b-7p2hCB {
}

.hire-me .group-5DurqV {
  background-color: transparent;
  height: 49px;
  left: 420px;
  position: absolute;
  top: 444px;
  width: 89px;
}

.hire-me .vector-9XxnK0 {
  background-color: transparent;
  height: 42px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 29px;
}

.hire-me .x508-9XxnK0 {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 10px;
  width: 58px;
}

.hire-me .spanzrp6b-4SUkrk {
}

.hire-me .group-QVV7fk {
  background-color: transparent;
  height: 38px;
  left: 494px;
  position: absolute;
  top: 333px;
  width: 98px;
}

.hire-me .vector-ksko3n {
  background-color: transparent;
  height: 17px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 48px;
}

.hire-me .x611-ksko3n {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 48px;
}

.hire-me .spanhb45v-zhJx9w {
}

.hire-me .group-xItgj8 {
  background-color: transparent;
  height: 38px;
  left: 506px;
  position: absolute;
  top: 249px;
  width: 73px;
}

.hire-me .vector-yEY4Qx {
  background-color: transparent;
  height: 1px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 30px;
  width: 51px;
}

.hire-me .x5-yEY4Qx {
  background-color: transparent;
  height: auto;
  left: 51px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 20px;
}

.hire-me .span2ucnr-rDQxWB {
}

.hire-me .accomplishments-6ela6S {
  background-color: transparent;
  border-radius: 16px;
  height: 639px;
  left: 71px;
  position: absolute;
  top: 212px;
  width: 396px;
}

.hire-me .rectangle-6-qBxgIh {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 639px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 91px;
}

.hire-me .data-links-qBxgIh {
  background-color: transparent;
  height: 606px;
  left: 121px;
  position: absolute;
  top: 26px;
  width: 283px;
}

.hire-me .affiliations-fxNedG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 504px;
  width: 275px;
}

.hire-me .spansb9mr-2mCm2E {
}

.hire-me .certifications-fxNedG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 335px;
  width: 275px;
}

.hire-me .spanjih8-5YFqux {
}

.hire-me .courses-fxNedG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 167px;
  width: 169px;
}

.hire-me .spanfu3dv-gyixsN {
}

.hire-me .degrees-fxNedG {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 172px;
}

.hire-me .span8d04j-K1BuYJ {
}

.hire-me .breakdown-of-skills-6ela6S {
  background-color: transparent;
  height: auto;
  left: 467px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 81px;
  width: auto;
}

.hire-me .spanqmsez-5g0Kmp {
}

.hire-me .dashboard-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 3036px;
  width: 1512px;
}

.hire-me .laptop-ZlAONA {
  background-color: transparent;
  height: 825px;
  left: 573px;
  position: absolute;
  top: 166px;
  width: 939px;
}

.hire-me .ellipse-15-R5t8yl {
  background: radial-gradient(50% 50% at 50% 50%, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgba(125.00000014901161, 189.9999886751175, 227.00000166893005, 0.05000000074505806) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 469.5px/412.5px;
  height: 825px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 939px;
}

.hire-me .rectangle-R5t8yl {
  background-color: transparent;
  height: 500px;
  left: 71px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 163px;
  width: 798px;
}

.hire-me .features-ZlAONA {
  background-color: transparent;
  height: 692px;
  left: 58px;
  position: absolute;
  top: 244px;
  width: 201px;
}

.hire-me .icon-K6B0hV {
  background-color: transparent;
  height: 200px;
  left: 1px;
  position: absolute;
  top: 492px;
  width: 200px;
}

.hire-me .ellipse-13-FcNTAi {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 100px;
  box-shadow: 0px 4px 50px #00000040;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 200px;
}

.hire-me .x9_-pragmatica_3-d_-metal_-calendar-FcNTAi {
  background-color: transparent;
  height: 160px;
  left: 19px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 162px;
}

.hire-me .icon-KJ3YVx {
  background-color: transparent;
  height: 200px;
  left: 1px;
  position: absolute;
  top: 246px;
  width: 200px;
}

.hire-me .ellipse-13-ZTJQfA {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 100px;
  box-shadow: 0px 4px 50px #00000040;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 200px;
}

.hire-me .outer-circle-ZTJQfA {
  background-color: transparent;
  border-radius: 253px;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}

.hire-me .ellipse-9-iuDMxK {
  background-color: #edebf0;
  border: 1px none;
  border-radius: 81.65px;
  height: 163px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 163px;
}

.hire-me .ellipse-8-iuDMxK {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgba(254.68127310276031, 254.3625310063362, 255, 0) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 81.65px;
  height: 163px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  transform: rotate(-15.00deg);
  width: 163px;
}

.hire-me .inner-circle-ZTJQfA {
  background-color: transparent;
  border-radius: 253px;
  height: 95px;
  left: 52px;
  position: absolute;
  top: 52px;
  width: 95px;
}

.hire-me .ellipse-9-u8H21b {
  background-color: #ecebef;
  border: 1px none;
  border-radius: 47.5px;
  height: 95px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 95px;
}

.hire-me .ellipse-8-u8H21b {
  background: linear-gradient(180deg, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 0%, rgba(36.00000165402889, 18.000000827014446, 106.00000128149986, 0) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 47.5px;
  height: 95px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 95px;
}

.hire-me .icon-SkDkkS {
  background-color: transparent;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}

.hire-me .ellipse-13-PkI21K {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 100px;
  box-shadow: 0px 4px 50px #00000040;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 200px;
}

.hire-me .new-ticket-PkI21K {
  background-color: transparent;
  height: 120px;
  left: 40px;
  mix-blend-mode: normal;
  position: absolute;
  top: 40px;
  width: 120px;
}

.hire-me .dashboard-to-monitor-progess-ZlAONA {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 48px;
  width: auto;
}

.hire-me .span10434-gEkaN8 {
}

.hire-me .payment-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2054px;
  width: 1512px;
}

.hire-me .rectangle-18-43UVzs {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  box-shadow: 0px 4px 50px #00000040;
  height: 617px;
  left: 345px;
  mix-blend-mode: normal;
  position: absolute;
  top: 271px;
  width: 822px;
}

.hire-me .ellipse-13-43UVzs {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 100px;
  box-shadow: 0px 4px 50px #00000040;
  height: 200px;
  left: 1045px;
  mix-blend-mode: normal;
  position: absolute;
  top: 212px;
  width: 200px;
}

.hire-me .milestones-vs-completion-43UVzs {
  background-color: transparent;
  height: auto;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  width: auto;
}

.hire-me .span03r5o-Npks3O {
}

.hire-me .pay-date-43UVzs {
  background-color: transparent;
  height: 120px;
  left: 1085px;
  mix-blend-mode: normal;
  position: absolute;
  top: 252px;
  width: 120px;
}

.hire-me .jobs-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1072px;
  width: 1512px;
}

.hire-me .rectangle-18-V5OXiJ {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  box-shadow: 0px 4px 50px #00000040;
  height: 617px;
  left: 345px;
  mix-blend-mode: normal;
  position: absolute;
  top: 193px;
  width: 822px;
}

.hire-me .icon-profile-V5OXiJ {
  background-color: transparent;
  height: 170px;
  left: 260px;
  position: absolute;
  top: 244px;
  width: 170px;
}

.hire-me .ellipse-14-f9sMvC {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 85px;
  box-shadow: 0px 4px 50px #00000040;
  height: 170px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 170px;
}

.hire-me .icon-user-f9sMvC {
  background-color: transparent;
  height: 96px;
  left: 37px;
  mix-blend-mode: normal;
  position: absolute;
  top: 37px;
  width: 96px;
}

.hire-me .icon-code-V5OXiJ {
  background-color: transparent;
  height: 170px;
  left: 1082px;
  position: absolute;
  top: 594px;
  width: 170px;
}

.hire-me .ellipse-13-pzWoO9 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 85px;
  box-shadow: 0px 4px 50px #00000040;
  height: 170px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 170px;
}

.hire-me .code-fork-pzWoO9 {
  background-color: transparent;
  height: 120px;
  left: 35px;
  mix-blend-mode: normal;
  position: absolute;
  top: 25px;
  width: 120px;
}

.hire-me .sign-in-create-a-profile-V5OXiJ {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 18px;
  width: auto;
}

.hire-me .spanlfff6-oBpZuv {
}

.hire-me .hero-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 90px;
  width: 1512px;
}

.hire-me .componentlottiehttps-xmAFZS {
  background-color: transparent;
  height: 762px;
  left: 610px;
  position: absolute;
  top: 25px;
  width: 808px;
}

.hire-me .hero-info-xmAFZS {
  background-color: transparent;
  border: 1px none;
  height: 355px;
  left: 79px;
  position: absolute;
  top: 225px;
  width: 669px;
}

.hire-me .button-2xvgJD {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 1px;
  position: absolute;
  top: 295px;
  width: 215px;
}

.hire-me .rectangle-2-Wph6Vo {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 60px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 215px;
}

.hire-me .hire-me-Wph6Vo {
  background-color: transparent;
  height: 41px;
  left: 52px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 110px;
}

.hire-me .spanvdipz-COk37e {
}

.hire-me .an-e-commerce-and-fu-2xvgJD {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 133px;
  width: 668px;
}

.hire-me .span0-27I824 {
}

.hire-me .span1-27I824 {
}

.hire-me .span2-27I824 {
}

.hire-me .span3-27I824 {
}

.hire-me .span4-27I824 {
}

.hire-me .span5-27I824 {
}

.hire-me .elias-estrada-2xvgJD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: -1px;
  width: 669px;
}

.hire-me .span4cp8k-QLTA0W {
}

.hire-me .navbar-6m3pzx {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 90px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.hire-me .button-wallet-HMByD6 {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1333px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.hire-me .hero-button-8KMoDN {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}

.hire-me .hero-button-EtUu7T {
  background-color: transparent;
  height: auto;
  left: 23px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 104px;
}

.hire-me .spangn2p6-RxcBxO {
}

.hire-me .button-login-HMByD6 {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1164px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.hire-me .hero-button-YGDRxF {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 150px;
}

.hire-me .hero-button-x9z32G {
  background-color: transparent;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 6px;
  width: 74px;
}

.hire-me .spanms9wo-2F7sgx {
}

.hire-me .organizations-HMByD6 {
  background-color: transparent;
  height: auto;
  left: 982px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: auto;
}

.hire-me .span4642gh-Hx77d5 {
}

.hire-me .github-HMByD6 {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: auto;
}

.hire-me .spangzy0l-ipU1sF {
}

.hire-me .hire-me-HMByD6 {
  background-color: transparent;
  height: auto;
  left: 622px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: auto;
}

.hire-me .spanu23we-4TrrjQ {
}

.hire-me .open-source-HMByD6 {
  background-color: transparent;
  height: auto;
  left: 818px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: auto;
}

.hire-me .spany74rp-jWa8rt {
}

.hire-me .dashboard-layout-HMByD6 {
  background-color: transparent;
  height: 60px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 60px;
}
