/* screen - login-form */

.login-form {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 100vh;
  margin: 0px;
  min-height: 663px;
  min-width: 565px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.login-form .login-form-XDhp0Z {
  background-color: transparent;
  height: 246px;
  left: 162px;
  mix-blend-mode: normal;
  position: relative;
  top: 208px;
}

.login-form-XDhp0Z {
  font-family: "-apple-system","BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
