/* screen - open-source */

.open-source {
  align-items: flex-start;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  gap: 10px;
  height: 100vh;
  left: 0px;
  margin: 0px;
  min-height: 4674px;
  min-width: 1512px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.open-source .body-xz5wlu {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 4674px;
  min-width: 1512px;
  mix-blend-mode: normal;
  position: relative;
}

.open-source .footer-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 592px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4082px;
  width: 1512px;
}

.open-source .footer-menu-McZR31 {
  background-color: transparent;
  height: 233px;
  left: 74px;
  position: absolute;
  top: 47px;
  width: 1411px;
}

.open-source .button-2wWslN {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 1188px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.open-source .rectangle-2-nfYgqJ {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.open-source .hire-me-nfYgqJ {
  background-color: transparent;
  height: 68.58%;
  left: 24.20%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16.06%;
  width: 51.02%;
}

.open-source .button-mBlMzq {
  background-color: transparent;
  border: 1px none;
  height: 60px;
  left: 898px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.open-source .rectangle-2-cxuOF5 {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.open-source .hire-me-cxuOF5 {
  background-color: transparent;
  height: 68.58%;
  left: 24.20%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16.06%;
  width: 51.02%;
}

.open-source .organizations-2wWslN {
  background-color: transparent;
  height: auto;
  left: 566px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 256px;
}

.open-source .open-source-2wWslN {
  background-color: transparent;
  height: auto;
  left: 307px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 229px;
}

.open-source .github-2wWslN {
  background-color: transparent;
  height: auto;
  left: 158px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 121px;
}

.open-source .hire-me-2wWslN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 127px;
}

.open-source .cec-logo-2wWslN {
  background-color: transparent;
  height: 120px;
  left: 622px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

.open-source .snippets-McZR31 {
  background-color: transparent;
  height: 164px;
  left: 814px;
  position: absolute;
  top: 374px;
  width: 667px;
}

.open-source .snippets-PdA91c {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 164px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 663px;
}

.open-source .rectangle-6-PdA91c {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 316px;
}

.open-source .rectangle-7-PdA91c {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 533px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 101px;
}

.open-source .subscribe-to-get-access-PdA91c {
  background-color: transparent;
  height: 49px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 91px;
  width: 167px;
}

.open-source .snippet-of-the-day-PdA91c {
  background-color: transparent;
  height: 51px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 367px;
}

.open-source .image-8-McZR31 {
  background-color: transparent;
  height: 225px;
  left: 74px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 640px;
}

.open-source .github-classrooms-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 1083px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2999px;
  width: 1512px;
}

.open-source .classroom-containers-hlx0x0 {
  background-color: transparent;
  border: 1px none;
  height: 610px;
  left: 61px;
  mix-blend-mode: normal;
  position: absolute;
  top: 373px;
  width: 1389px;
}

.open-source .right-div-nqQ3rk {
  background-color: transparent;
  height: 610px;
  left: 729px;
  position: absolute;
  top: 0px;
  width: 660px;
}

.open-source .web30-T1r46k {
  background-color: transparent;
  cursor: pointer;
  height: 26.20%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 73.80%;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .web30-T1r46k:hover {
  transform: scale(1.1);
}

.open-source .web30-wO1dNR {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .web-30-development-wO1dNR {
  background-color: transparent;
  height: 26.26%;
  left: 28.61%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.46%;
  width: 57.53%;
}

.open-source .decentralized-network-wO1dNR {
  background-color: transparent;
  height: 60.02%;
  left: 6.17%;
  mix-blend-mode: normal;
  position: absolute;
  top: 14.71%;
  width: 14.46%;
}

.open-source .work-with-apex-and-b-wO1dNR {
  background-color: transparent;
  height: 11.88%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 62.23%;
  width: 72.29%;
}

.open-source .cloud-T1r46k {
  background-color: transparent;
  cursor: pointer;
  height: 26.20%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 36.90%;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .cloud-T1r46k:hover {
  transform: scale(1.1);
}

.open-source .cloud-MVfpND {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .cloud-development-MVfpND {
  background-color: transparent;
  height: 26.26%;
  left: 28.61%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.61%;
  width: 52.26%;
}

.open-source .amazon-web-services-MVfpND {
  background-color: transparent;
  height: 60.02%;
  left: 6.17%;
  mix-blend-mode: normal;
  position: absolute;
  top: 19.86%;
  width: 14.46%;
}

.open-source .work-with-apex-and-b-MVfpND {
  background-color: transparent;
  height: 11.88%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 61.75%;
  width: 72.29%;
}

.open-source .python-T1r46k {
  background-color: transparent;
  cursor: pointer;
  height: 26.20%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .python-T1r46k:hover {
  transform: scale(1.1);
}

.open-source .python-scripting-YDyabU {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .python-YDyabU {
  background-color: transparent;
  height: 60.02%;
  left: 6.17%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.01%;
  width: 14.46%;
}

.open-source .python-development-YDyabU {
  background-color: transparent;
  height: 26.26%;
  left: 28.61%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.76%;
  width: 54.97%;
}

.open-source .work-with-apex-and-b-YDyabU {
  background-color: transparent;
  height: 11.88%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 61.90%;
  width: 72.29%;
}

.open-source .left-div-nqQ3rk {
  background-color: transparent;
  height: 610px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 660px;
}

.open-source .api-integrations-Ujxsch {
  background-color: transparent;
  cursor: pointer;
  height: 26.18%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 73.82%;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .api-integrations-Ujxsch:hover {
  transform: scale(1.1);
}

.open-source .api-integrations-sooZq6 {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .icon-settings-sooZq6 {
  background-color: transparent;
  height: 60.08%;
  left: 5.12%;
  mix-blend-mode: normal;
  position: absolute;
  top: 19.67%;
  width: 14.46%;
}

.open-source .api-development-sooZq6 {
  background-color: transparent;
  height: 26.28%;
  left: 28.31%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.44%;
  width: 45.18%;
}

.open-source .work-with-apex-and-b-sooZq6 {
  background-color: transparent;
  height: 11.89%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 62.23%;
  width: 72.29%;
}

.open-source .gis-Ujxsch {
  background-color: transparent;
  cursor: pointer;
  height: 26.18%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 36.91%;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .gis-Ujxsch:hover {
  transform: scale(1.1);
}

.open-source .gis-8CO8hM {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .gis-40KafS {
  background-color: transparent;
  height: 60.08%;
  left: 5.12%;
  mix-blend-mode: normal;
  position: absolute;
  top: 19.85%;
  width: 14.46%;
}

.open-source .gis-development-8CO8hM {
  background-color: transparent;
  height: 26.28%;
  left: 28.16%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.61%;
  width: 45.48%;
}

.open-source .work-with-apex-and-b-8CO8hM {
  background-color: transparent;
  height: 11.89%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 61.78%;
  width: 72.29%;
}

.open-source .salesforce-Ujxsch {
  background-color: transparent;
  cursor: pointer;
  height: 26.18%;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100.61%;
}

.open-source .salesforce-Ujxsch:hover {
  transform: scale(1.1);
}

.open-source .salesforce-F69JKi {
  background: linear-gradient(180deg, rgb(125.00000014901161, 190.0000038743019, 227.00000166893005) 0%, rgb(36.00000165402889, 18.000000827014446, 106.00000128149986) 100%);
  background-color: transparent;
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 99.40%;
}

.open-source .salesforce-X9X6Tg {
  background-color: transparent;
  height: 60.08%;
  left: 5.12%;
  mix-blend-mode: normal;
  position: absolute;
  top: 17.52%;
  width: 14.46%;
}

.open-source .work-with-apex-and-b-F69JKi {
  background-color: transparent;
  height: 11.89%;
  left: 23.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 61.96%;
  width: 72.29%;
}

.open-source .salesforce-development-F69JKi {
  background-color: transparent;
  height: 26.28%;
  left: 28.16%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 28.79%;
  width: 64.31%;
}

.open-source .git-hub-classrooms-hlx0x0 {
  background-color: transparent;
  height: 117px;
  left: 312px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 70px;
  width: auto;
}

.open-source .these-classes-are-sm-hlx0x0 {
  background-color: transparent;
  height: 91px;
  left: 126px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 208px;
  width: 1260px;
}

.open-source .tdto-live-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 1048px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1951px;
  width: 1512px;
}

.open-source .livestream-9lgBuO {
  background-color: transparent;
  height: 720px;
  left: 156px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 131px;
  width: 1200px;
}

.open-source .twitch-9lgBuO {
  background-color: transparent;
  height: 96px;
  left: 708px;
  mix-blend-mode: normal;
  position: absolute;
  top: 443px;
  width: 96px;
}

.open-source .open-source-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 969px;
  width: 1512px;
}

.open-source .collaborate-img-REoIAW {
  background-color: transparent;
  height: 833px;
  left: 592px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 920px;
}

.open-source .collaborate-text-REoIAW {
  background-color: transparent;
  height: 560px;
  left: 28px;
  position: absolute;
  top: 89px;
  width: 781px;
}

.open-source .discord-ORxINX {
  background-color: transparent;
  height: 119px;
  left: 171px;
  position: absolute;
  top: 441px;
  width: 441px;
}

.open-source .bangobongo17-gz4Ctm {
  background-color: transparent;
  color: var(--cape-cod);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: 51px;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 359px;
}

.open-source .discord-bubble-gz4Ctm {
  background-color: transparent;
  height: 119px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 117px;
}

.open-source .lets-work-together-ORxINX {
  background-color: transparent;
  height: 546px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 779px;
}

.open-source .hero-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 879px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 90px;
  width: 1512px;
}

.open-source .componentlottiehttps-U62Twr {
  background-color: transparent;
  height: 706px;
  left: 609px;
  position: absolute;
  top: 0px;
  width: 809px;
}

.open-source .hero-info-U62Twr {
  background-color: transparent;
  border: 1px none;
  height: 355px;
  left: 79px;
  position: absolute;
  top: 225px;
  width: 669px;
}

.open-source .button-Ic0DAr {
  background-color: transparent;
  border: 1px none;
  height: 16.90%;
  left: 0px;
  position: absolute;
  top: 83.10%;
  width: 32.12%;
}

.open-source .rectangle-2-gpy8gK {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.open-source .hire-me-gpy8gK {
  background-color: transparent;
  height: 68.58%;
  left: 24.20%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16.06%;
  width: 51.02%;
}

.open-source .an-e-commerce-and-fu-Ic0DAr {
  background-color: transparent;
  height: 26.76%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 37.75%;
  width: 99.85%;
}

.open-source .span0-eQLhjw {
}

.open-source .span1-eQLhjw {
}

.open-source .span2-eQLhjw {
}

.open-source .elias-estrada-Ic0DAr {
  background-color: transparent;
  height: 47.55%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 100%;
}

.open-source .navbar-ZWf8zg {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 90px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.open-source .button-wallet-yADMej {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1333px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.open-source .hero-button-N5l4kO {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.open-source .hero-button-9pfqSx {
  background-color: transparent;
  height: 56.00%;
  left: 15.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14.00%;
  width: 69.50%;
}

.open-source .button-login-yADMej {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1164px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.open-source .hero-button-DAoxpw {
  background-color: var(--seagull);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.open-source .hero-button-KiDfet {
  background-color: transparent;
  height: 56.00%;
  left: 25.50%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14.00%;
  width: 49.00%;
}

.open-source .organizations-yADMej {
  background-color: transparent;
  height: auto;
  left: 982px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.open-source .github-yADMej {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.open-source .hire-me-yADMej {
  background-color: transparent;
  height: auto;
  left: 622px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.open-source .open-source-yADMej {
  background-color: transparent;
  height: auto;
  left: 818px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: auto;
}

.open-source .dashboard-layout-yADMej {
  background-color: transparent;
  height: 60px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 60px;
}
