/* screen - tdt */

.tdt {
  align-items: center;
  background-color: transparent;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 122px;
  height: 100vh;
  left: 0px;
  margin: 0px;
  min-height: 5592px;
  min-width: 1512px;
  overflow-x: hidden;
  position: relative;
  top: 0px;
  width: 100%;
}

.tdt .tdt-uJempU {
  background-color: transparent;
  height: 5592px;
  min-width: 1512px;
  position: relative;
}

.tdt .body-XHpOU3 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 5592px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 1512px;
}

.tdt .footer-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 592px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 5000px;
  width: 1512px;
}

.tdt .image-8-5yfsiH {
  background-color: transparent;
  height: 225px;
  left: 74px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 313px;
  width: 640px;
}

.tdt .snippets-5yfsiH {
  background-color: transparent;
  height: 164px;
  left: 814px;
  position: absolute;
  top: 374px;
  width: 667px;
}

.tdt .snippets-RWc2Rb {
  background-color: var(--turquoise-blue);
  border: 1px none;
  border-radius: 16px;
  height: 164px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 663px;
}

.tdt .rectangle-6-RWc2Rb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 199px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 316px;
}

.tdt .rectangle-7-RWc2Rb {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  left: 533px;
  mix-blend-mode: normal;
  position: absolute;
  top: 107px;
  width: 101px;
}

.tdt .subscribe-to-get-access-RWc2Rb {
  background-color: transparent;
  height: 49px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 91px;
  width: 167px;
}

.tdt .snippet-of-the-day-RWc2Rb {
  background-color: transparent;
  height: 51px;
  left: 149px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 19px;
  width: 367px;
}

.tdt .footer-menu-5yfsiH {
  background-color: transparent;
  height: 233px;
  left: 94px;
  position: absolute;
  top: 47px;
  width: 1391px;
}

.tdt .button-D9y6bI {
  background-color: transparent;
  height: 60px;
  left: 1168px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.tdt .button-eLVVkk {
  background-color: transparent;
  height: 60px;
  left: 878px;
  position: absolute;
  top: 173px;
  width: 215px;
}

.tdt .organizations-D9y6bI {
  background-color: transparent;
  height: auto;
  left: 552px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 250px;
}

.tdt .github-D9y6bI {
  background-color: transparent;
  height: auto;
  left: 154px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 118px;
}

.tdt .hire-me-D9y6bI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 192px;
  width: 124px;
}

.tdt .open-source-D9y6bI {
  background-color: transparent;
  height: auto;
  left: 300px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 191px;
  width: 223px;
}

.tdt .tradent-logo5-transparent-2-D9y6bI {
  background-color: transparent;
  height: 120px;
  left: 602px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 120px;
}

.tdt .live-developing-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 4018px;
  width: 1512px;
}

.tdt .button-2-gUmpAT {
  background-color: transparent;
  border: 1px none;
  box-shadow: 0px 4px 4px #00000040;
  height: 68px;
  left: 806px;
  position: absolute;
  top: 826px;
  width: 257px;
}

.tdt .rectangle-2-HtcxbB {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tdt .dashboard-HtcxbB {
  background-color: transparent;
  color: var(--turquoise-blue);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 55.88%;
  left: 12.06%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22.06%;
  width: 73.54%;
}

.tdt .button-gUmpAT {
  background-color: transparent;
  height: 68px;
  left: 449px;
  position: absolute;
  top: 826px;
  width: 259px;
}

.tdt .rectangle-2-rXCoSF {
  background-color: var(--turquoise-blue);
  border: 1px none;
  border-radius: 16px;
  height: 68px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 257px;
}

.tdt .learn-how-rXCoSF {
  background-color: transparent;
  height: 38px;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: auto;
}

.tdt .dev-environment-gUmpAT {
  background-color: transparent;
  height: 720px;
  left: 156px;
  position: absolute;
  top: 40px;
  width: 1200px;
}

.tdt .livestream-9DpNkw {
  background-color: transparent;
  height: 720px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1200px;
}

.tdt .duckly-9DpNkw {
  background-color: transparent;
  height: 170px;
  left: 426px;
  position: absolute;
  top: 266px;
  width: 349px;
}

.tdt .flying-duck-WvggDf {
  background-color: transparent;
  height: 96px;
  left: 126px;
  mix-blend-mode: normal;
  position: absolute;
  top: 74px;
  width: 96px;
}

.tdt .duckly-environment-WvggDf {
  background-color: transparent;
  height: 42px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.tdt .team-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 3036px;
  width: 1512px;
}

.tdt .avatars-AsznL5 {
  background-color: transparent;
  height: 700px;
  left: 0px;
  position: absolute;
  top: 282px;
  width: 1512px;
}

.tdt .vector-fNpTbu {
  background-color: transparent;
  height: 500px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 200px;
  width: 1512px;
}

.tdt .user_7-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 1334px;
  position: absolute;
  top: 0px;
  width: 154px;
}

.tdt .ellipse-2-3y2WMx {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-3y2WMx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-3y2WMx {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_6-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 1184px;
  position: absolute;
  top: 220px;
  width: 154px;
}

.tdt .ellipse-1-xidt2Y {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-xidt2Y {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-xidt2Y {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_5-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 999px;
  position: absolute;
  top: 70px;
  width: 154px;
}

.tdt .ellipse-5-6xdNUz {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-6xdNUz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-6xdNUz {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_4-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 756px;
  position: absolute;
  top: 19px;
  width: 154px;
}

.tdt .ellipse-4-lWU9ew {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-lWU9ew {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-lWU9ew {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_3-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 476px;
  position: absolute;
  top: 70px;
  width: 154px;
}

.tdt .ellipse-3-8gRNTB {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-8gRNTB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-8gRNTB {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_2-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 253px;
  position: absolute;
  top: 220px;
  width: 154px;
}

.tdt .ellipse-2-dPRwOU {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-dPRwOU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-dPRwOU {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .user_1-fNpTbu {
  background-color: transparent;
  height: 201px;
  left: 25px;
  position: absolute;
  top: 349px;
  width: 154px;
}

.tdt .ellipse-1-LNgAQI {
  background-color: transparent;
  height: 150px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 150px;
}

.tdt .githubcom0x0000-LNgAQI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: auto;
}

.tdt .username_1-LNgAQI {
  background-color: transparent;
  height: auto;
  left: 30px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 163px;
  width: auto;
}

.tdt .become-a-contributor-AsznL5 {
  background-color: transparent;
  height: auto;
  left: 253px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: auto;
}

.tdt .span0-ivOExu {
}

.tdt .span1-ivOExu {
  color: var(--turquoise-blue);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.tdt .tools-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2054px;
  width: 1512px;
}

.tdt .menus-EAdQC1 {
  background-color: transparent;
  height: 672px;
  left: 71px;
  position: absolute;
  top: 247px;
  width: 1373px;
}

.tdt .faq-uSzfwB {
  background-color: transparent;
  height: 117px;
  left: 4px;
  position: absolute;
  top: 555px;
  width: 1371px;
}

.tdt .faq-P4sULx {
  background-color: var(--turquoise-blue-2);
  border: 1px none;
  border-radius: 16px;
  height: 117px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1369px;
}

.tdt .fa-qs-P4sULx {
  background-color: transparent;
  height: 106px;
  left: 424px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 521px;
}

.tdt .read-me-uSzfwB {
  background-color: transparent;
  height: 117px;
  left: 0px;
  position: absolute;
  top: 370px;
  width: 1371px;
}

.tdt .packages-jARUxt {
  background-color: var(--turquoise-blue-2);
  border: 1px none;
  border-radius: 16px;
  height: 117px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1369px;
}

.tdt .readmemd-jARUxt {
  background-color: transparent;
  height: 106px;
  left: 424px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 521px;
}

.tdt .packages-uSzfwB {
  background-color: transparent;
  height: 117px;
  left: 2px;
  position: absolute;
  top: 185px;
  width: 1371px;
}

.tdt .packages-AnGMF7 {
  background-color: var(--turquoise-blue-2);
  border: 1px none;
  border-radius: 16px;
  height: 117px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1369px;
}

.tdt .packages-LJOga5 {
  background-color: transparent;
  height: 106px;
  left: 424px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 521px;
}

.tdt .gitbook-uSzfwB {
  background-color: transparent;
  height: 117px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 1371px;
}

.tdt .gitbook-5bD1DP {
  background-color: var(--turquoise-blue-2);
  border: 1px none;
  border-radius: 16px;
  height: 117px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1369px;
}

.tdt .gitbook-VNw5xZ {
  background-color: transparent;
  height: 106px;
  left: 474px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 426px;
}

.tdt .expand-for-more-information-EAdQC1 {
  background-color: transparent;
  height: 109px;
  left: 237px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 62px;
  width: 1042px;
}

.tdt .products-uDSpLb {
  background-color: var(--turquoise-blue);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1072px;
  width: 1512px;
}

.tdt .downloads-xBQTw9 {
  background-color: transparent;
  height: 444px;
  left: 61px;
  position: absolute;
  top: 503px;
  width: 1392px;
}

.tdt .car-application-sxWN1U {
  background-color: transparent;
  height: 105px;
  left: 50px;
  position: absolute;
  top: 339px;
  width: 1051px;
}

.tdt .soon-to-be-car-application-9LtdMW {
  background-color: transparent;
  height: 46px;
  left: 170px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 879px;
}

.tdt .car-top-view-9LtdMW {
  background-color: transparent;
  height: 105px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 96px;
}

.tdt .downloads-sxWN1U {
  background-color: transparent;
  border: 1px none;
  height: 99px;
  left: 0px;
  position: absolute;
  top: 128px;
  width: 1390px;
}

.tdt .mac-client-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .windows-client-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 17.19%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .app-symbol-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 34.38%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .playstore-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 51.56%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .apple-watch-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 68.75%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .command-line-mjbIJO {
  background-color: transparent;
  height: 100.00%;
  left: 85.94%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 14.06%;
}

.tdt .platforms-available-for-download-sxWN1U {
  background-color: transparent;
  height: auto;
  left: 262px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 866px;
}

.tdt .product-management-xBQTw9 {
  background-color: transparent;
  height: 336px;
  left: 86px;
  position: absolute;
  top: 68px;
  width: 1346px;
}

.tdt .lorem-ipsum-dolor-si-Zky5CE {
  background-color: transparent;
  height: 97px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 1340px;
}

.tdt .learn-more-Zky5CE {
  background-color: transparent;
  height: 24px;
  left: 610px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  text-decoration: underline;
  top: 312px;
  width: 120px;
}

.tdt .product-management-Zky5CE {
  background-color: transparent;
  height: auto;
  left: 214px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 1042px;
}

.tdt .kanban-Zky5CE {
  background-color: transparent;
  height: 89px;
  left: 73px;
  mix-blend-mode: normal;
  position: absolute;
  top: 9px;
  width: 96px;
}

.tdt .hero-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 982px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 90px;
  width: 1512px;
}

.tdt .button-2-Jtx9ZY {
  background-color: transparent;
  border: 1px none;
  box-shadow: 0px 4px 4px #00000040;
  height: 68px;
  left: 379px;
  position: absolute;
  top: 562px;
  width: 257px;
}

.tdt .rectangle-2-3x53hM {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tdt .dashboard-3x53hM {
  background-color: transparent;
  color: var(--turquoise-blue);
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  height: 55.88%;
  left: 10.12%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22.06%;
  width: 77.04%;
}

.tdt .button-Jtx9ZY {
  background-color: transparent;
  height: 68px;
  left: 97px;
  position: absolute;
  top: 562px;
  width: 259px;
}

.tdt .rectangle-2-ImnxOm {
  background-color: var(--turquoise-blue);
  border: 1px none;
  border-radius: 16px;
  height: 68px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 257px;
}

.tdt .contribute-ImnxOm {
  background-color: transparent;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: auto;
}

.tdt .tradent-logo5-transparent-1-Jtx9ZY {
  background-color: transparent;
  height: 982px;
  left: 887px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 625px;
}

.tdt .this-web-30-applicat-Jtx9ZY {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 404px;
  width: 570px;
}

.tdt .tradent-Jtx9ZY {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 243px;
  width: auto;
}

.tdt .navbar-uDSpLb {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  height: 90px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1512px;
}

.tdt .button-wallet-cC6JRi {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1333px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.tdt .hero-button-RsBPZh {
  background-color: var(--turquoise-blue);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tdt .hero-button-kLYkq8 {
  background-color: transparent;
  height: 56.00%;
  left: 15.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14.00%;
  width: 69.50%;
}

.tdt .button-login-cC6JRi {
  background-color: transparent;
  border: 1px none;
  height: 50px;
  left: 1164px;
  position: absolute;
  top: 20px;
  width: 150px;
}

.tdt .hero-button-AUJdjt {
  background-color: var(--turquoise-blue);
  border: 1px none;
  border-radius: 16px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.tdt .hero-button-Qj9B9x {
  background-color: transparent;
  height: 56.00%;
  left: 25.50%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 14.00%;
  width: 49.00%;
}

.tdt .organizations-cC6JRi {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 982px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.tdt .github-cC6JRi {
  background-color: transparent;
  height: auto;
  left: 722px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.tdt .hire-me-cC6JRi {
  background-color: transparent;
  height: auto;
  left: 622px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 34px;
  width: auto;
}

.tdt .open-source-cC6JRi {
  background-color: transparent;
  height: auto;
  left: 818px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 33px;
  width: auto;
}

.tdt .dashboard-layout-cC6JRi {
  background-color: transparent;
  height: 60px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 60px;
}
