.about-me-2,
.about-me-2.about-me-1 {
  display: flex;
  flex-direction: column;
  height: 386.71px;
  margin-left: 160px;
  margin-top: 18px;
  width: 1195px;
}

.globe-1 {
  height: 49px;
  margin-left: 572px;
  width: 48px;
}

.well-rounded-and-highly-grounded-1 {
  height: 54.01px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 310px;
  margin-top: 33px;
  text-align: center;
  width: 572.17px;
}

.a-self-taught-web-de-1 {
  height: 221.71px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 29.0px;
  text-align: center;
  width: 1191px;
}

.about-me-2.about-me-3,
.about-me-2.about-me-4 {
  margin-left: 125px;
  margin-top: 25px;
}

