.avatars-10,
.avatars-11 {
  align-items: flex-start;
  display: flex;
  min-width: 1512px;
}

.overlap-group-91,
.overlap-group-92 {
  height: 700px;
  position: relative;
  width: 1512px;
}

.vector-11,
.vector-12 {
  height: 500px;
  left: 0;
  position: absolute;
  top: 200px;
  width: 1512px;
}

