.downloads-12 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 43px;
  height: 98.67px;
  margin-top: 58.9px;
  min-width: 1390px;
}

.downloads-item {
  height: 99px;
  margin-top: 0;
  width: 195px;
}

.downloads-12.downloads-14,
.downloads-12.downloads-19,
.downloads-12.downloads-23 {
  align-items: center;
}

.downloads-12.downloads-14 .downloads-item,
.downloads-12.downloads-19 .downloads-item,
.downloads-12.downloads-23 .downloads-item {
  margin-top: unset;
}

.downloads-12.downloads-14 .downloads-item.variant-1,
.downloads-12.downloads-14 .downloads-item.variant-2,
.downloads-12.downloads-14 .downloads-item.variant-3,
.downloads-12.downloads-14 .downloads-item.variant-4,
.downloads-12.downloads-14 .downloads-item.variant-5,
.downloads-12.downloads-19 .downloads-item.variant-1,
.downloads-12.downloads-19 .downloads-item.variant-2,
.downloads-12.downloads-19 .downloads-item.variant-3,
.downloads-12.downloads-19 .downloads-item.variant-4,
.downloads-12.downloads-19 .downloads-item.variant-5,
.downloads-12.downloads-23 .downloads-item.variant-1,
.downloads-12.downloads-23 .downloads-item.variant-2,
.downloads-12.downloads-23 .downloads-item.variant-3,
.downloads-12.downloads-23 .downloads-item.variant-4,
.downloads-12.downloads-23 .downloads-item.variant-5 {
  height: 99px;
  width: 195px;
}

