.hero-info-12 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  left: 66px;
  min-height: 429px;
  position: absolute;
  top: 0;
  width: 299px;
}

.name-30 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -43px;
  min-height: 204px;
  width: 299px;
}

.overlap-group-60 {
  height: 158px;
  position: relative;
  width: 299px;
}

.an-e-commerce-and-fu-8 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 299px;
}

