.hire-me-38 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 1046px;
  position: relative;
  width: 1440px;
}

.click-up-9 {
  height: 753px;
  margin-left: 454px;
  object-fit: cover;
  width: 533px;
}

