.button-signup-1,
.button-signup-1.button-signup {
  align-items: flex-start;
  display: flex;
  margin-left: 27px;
  min-width: 157px;
}

.overlap-group2-2 {
  align-items: flex-start;
  background-color: var(--alto);
  border: 1px solid;
  border-color: var(--cape-cod);
  border-radius: 8px;
  display: flex;
  height: 43px;
  min-width: 155px;
  padding: 8px 35px;
}

.sign-up-1 {
  height: 26px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 84px;
  text-align: center;
}

.button-signup-1.button-signup-2,
.button-signup-1.button-signup-4,
.button-signup-1.button-signup-5 {
  align-items: unset;
  display: unset;
  height: 43px;
  margin-left: unset;
}

