.footer-24 {
  align-items: flex-end;
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: 592px;
  margin-left: 2px;
  padding: 47px 27.1px;
  width: 1512px;
}

.footer-menu-12 {
  display: flex;
  height: 233px;
  position: relative;
  width: 1411px;
}

.cec-logo-10 {
  height: 120px;
  margin-left: -18251.0px;
  margin-top: -4954px;
  object-fit: cover;
  width: 120px;
}

.hire-me-40 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 18131.0px;
  margin-top: 192px;
  text-align: center;
  width: 127px;
}

.github-17 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 31px;
  margin-top: 192px;
  text-align: center;
  width: 121px;
}

.open-source-27 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 28px;
  margin-top: 191px;
  text-align: center;
  width: 229px;
}

.organizations-17 {
  height: 23px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 30px;
  margin-top: 192px;
  text-align: center;
  width: 256px;
}

.flex-row-33 {
  align-items: flex-end;
  display: flex;
  gap: 386px;
  margin-right: 7.85px;
  min-width: 1403px;
}

.image-8-11 {
  height: 225px;
  object-fit: cover;
  width: 354px;
}

.overlap-group-61 {
  align-items: flex-start;
  background-color: var(--seagull);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  min-height: 164px;
  padding: 19px 14px;
  width: 663px;
}

.snippet-of-the-day-19 {
  align-self: center;
  height: 51px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1.54px;
  text-align: center;
  width: 367px;
}

.flex-row-34 {
  align-items: flex-end;
  display: flex;
  gap: 18px;
  min-width: 620px;
}

.subscribe-to-get-access-19 {
  align-self: flex-start;
  height: 49px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 167px;
}

.rectangle-6-10 {
  background-color: var(--material-themereferrorerror100);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  width: 316px;
}

.rectangle-7-11 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 16px;
  height: 33px;
  width: 101px;
}

